body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.contenedor-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    max-width: 550px;
    position: relative;
}

.disclaimer {
    font: 400 0.8rem Fredoka, sans-serif;
    color: var(--blanco);
    text-align: center;
    background: rgba(112, 8, 203, 0.8);
    border-radius: 1rem;
    padding: 1rem 1rem;
}

#contenedor-plan {
    padding: 2rem;
    background: rgba(112, 8, 203, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    max-width: 500px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

#contenedor-plan h1 {
    font: 600 2rem Lalezar, sans-serif;
    line-height: 1;
    margin: 0;
}

#contenedor-plan span {
    font: 400 1rem Fredoka, sans-serif;
    color: var(--blanco);
    text-align: start;
    width: 100%;
    text-decoration: underline;
}

#contenedor-plan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: var(--color);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

#precio {
    font: 400 3rem Lalezar, sans-serif;
    color: var(--blanco);
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    color: var(--blanco);
    font: 400 1rem Fredoka, sans-serif;
}

.precio-curso {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa79e9;
    padding: 1rem;
    width: fit-content;
    gap: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font: 500 1rem Fredoka, sans-serif;
    color: white;
}

#contenedor-plan ul h1 {
    font: 600 1.5rem Fredoka, sans-serif;
    color: var(--blanco);
    margin-bottom: 1rem;
}

main ul li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.imagen-plan {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 12px;
    top: 0;
    left: 0;
}

main ul li::before {
    content: url('/assets/icons/lets-icons--check-fill.svg');
    width: fit-content;
    height: fit-content;
    display: inline;
    position: relative;
    margin-left: 0.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10rem;
    height: fit-content;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--violeta-intenso);
    color: var(--blanco);
    border-radius: 2rem;
    margin-bottom: 1rem;
    width: 500px;
    font: 400 1rem Fredoka, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0, 0.2);
    color: var(--blanco);
    font: 400 1rem Fredoka, sans-serif;
    border: 2px solid transparent;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin-top: 0.5rem;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--rosado-coral);
    border: 2px solid var(--rosado-coral);
}

textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0, 0.2);
    color: var(--blanco);
    font: 400 1rem Fredoka, sans-serif;
    border: 2px solid transparent;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--rosado-coral);
    border: 2px solid var(--rosado-coral);
}

select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0, 0.2);
    color: var(--blanco);
    font: 400 1rem Fredoka, sans-serif;
    border: 2px solid transparent;
    pointer-events: none;
    filter: brightness(0.8);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

button {
    background-color: var(--rosado-coral);
    box-shadow: 0 0 1rem var(--rosado-coral);
}

button:hover {
    scale: 1.02;
}

button:active {
    scale: 1;
}